<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<title>Bet4Fun - Football is passion.</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:insert="~{header :: header}"></div>
	<div class="container">
		<div class="row">
			<div th:insert="~{sidebar :: sidebar (${new String('matches')})}"></div>
			<div class="col-md-9" role="main">
				<h3>Matches</h3>

				<div th:if="${message != null}" class="alert alert-success">
					<p th:each="msg : ${message}" th:text="${msg}" />
				</div>

				<a href="/match/add" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add match</a>
				<a href="/matches/sync" class="btn btn-info"><i class="glyphicon glyphicon-cloud-download"></i> Sync matches from SportDeer</a>
				<br /><br />

				<p th:if="${#lists.isEmpty(matches)}">No matches found</p>

				<table class="table" th:if="${not #lists.isEmpty(matches)}">
					<tr>
						<th>Date</th>
						<th>Home</th>
						<th class="text-center">Result</th>
						<th>Away</th>
						<th></th>
					</tr>
					<tr data-th-each="match : ${matches}">
						<td data-th-text="${match.getStrLocalScheduleDate()}"></td>
						<td data-th-text="${match.homeName}"></td>
						<td th:if="${match.status != 'Finish'}" class="text-center">? - ?</td>
						<td th:if="${match.status == 'Finish'}" class="text-center" data-th-text="${match.numberGoalHome} + ' - ' + ${match.numberGoalAway}"></td>
						<td data-th-text="${match.awayName}"></td>
						<td>
							<div class= "pull-right">
								<div class="col-sm-6">
									<form method="GET" th:action="@{/match/} + ${match.matchId} + @{/result/update}">
										<button type="submit" class="btn btn-success"> <i class="glyphicon glyphicon glyphicon-edit"></i> Update Result</button>
									</form>
								</div>
								<div class="col-sm-1">
									<form method="POST" th:action="@{/match/delete}">
										<input type="hidden" name="uuid" id="uuid" th:value="${match.matchId}" />
										<button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon glyphicon-remove-sign"></i> Delete</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>