<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<title>Bet4Fun - Football is passion.</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:insert="~{header :: header}"></div>
	<div class="container">
		<div class="row">
			<div th:insert="~{sidebar :: sidebar (${new String('my-bets')})}"></div>
			<div class="col-md-9" role="main">
				<h3>My bets</h3>

				<div th:if="${message != null}" class="alert alert-success">
					<p th:each="msg : ${message}" th:text="${msg}" />
				</div>

				<p th:if="${#lists.isEmpty(bets)}">No bets found</p>

				<table class="table" th:if="${not #lists.isEmpty(bets)}">
					<tr>
						<th>Date</th>
						<th>Home</th>
						<th>Result</th>
						<th>Away</th>
						<th>Your choice</th>
						<th>Bookie</th>
						<th></th>
					</tr>
					<tr th:if="${bet.handicap.matches[0].status != 'Finish'}" data-th-each="bet : ${bets}" class="info">
						<td data-th-text="${bet.handicap.matches[0].getStrLocalScheduleDate()}"></td>
						<td data-th-text="${bet.handicap.matches[0].homeName}"></td>
						<td th:if="${bet.handicap.matches[0].status != 'Finish'}">? : ?</td>
						<td data-th-text="${bet.handicap.matches[0].awayName}"></td>
						<td th:if="${bet.punterChoice == 'HOME_WIN'}" data-th-text="${bet.punterChoice} + ' (' + ${bet.homeRate} + '@' + ${bet.homeMoneyRate}  + ')'"></td>
						<td th:if="${bet.punterChoice == 'AWAY_WIN'}" data-th-text="${bet.punterChoice} + ' (' + ${bet.awayRate} + '@' + ${bet.awayMoneyRate}  + ')'"></td>
						<td data-th-text="${bet.handicap.client.clientName}"></td>
						<td>Coming up</td>
					</tr>
					<tr th:if="${bet.handicap.matches[0].status == 'Finish'}" data-th-each="bet : ${bets}" th:classappend="${bet.punterRevenue > 0 ? 'success' : 'danger'}">
						<td data-th-text="${bet.handicap.matches[0].getStrLocalScheduleDate()}"></td>
						<td data-th-text="${bet.handicap.matches[0].homeName}"></td>
						<td th:if="${bet.handicap.matches[0].status == 'Finish'}" data-th-text="${bet.handicap.matches[0].numberGoalHome} + ' : ' + ${bet.handicap.matches[0].numberGoalAway}"></td>
						<td data-th-text="${bet.handicap.matches[0].awayName}"></td>
						<td th:if="${bet.punterChoice == 'HOME_WIN'}" data-th-text="${bet.punterChoice} + ' (' + ${bet.homeRate} + '@' + ${bet.homeMoneyRate}  + ')'"></td>
						<td th:if="${bet.punterChoice == 'AWAY_WIN'}" data-th-text="${bet.punterChoice} + ' (' + ${bet.awayRate} + '@' + ${bet.awayMoneyRate}  + ')'"></td>
						<td data-th-text="${bet.handicap.client.clientName}"></td>
						<td data-th-text="${bet.punterRevenue}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>