<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bet4Fun - Football is passion.</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-validator/0.11.9/js/validator.js}"></script>
</head>
<body>
	<div th:insert="~{header :: header}"></div>
	<div class="container">
		<div class="row">
			<div th:insert="~{sidebar :: sidebar (${new String('roles')})}"></div>
			<div class="col-md-9" role="main">
				<h3>Add role</h3>
				<form method="POST" th:action="@{/role/add}" data-toggle="validator" class="col-md-7">
					<div class="form-group">
						<label for="roleName">Role</label>
						<input type="text" name="roleName" id="roleName" class="form-control" required />
						<div class="help-block with-errors"></div>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>