<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Bet4Fun - Football is passion.</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:fragment="sidebar(active)" class="col-md-3" role="complementary">
		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading text-uppercase" style="margin-top: 1px; margin-left: 1px;"><strong>Welcome <span sec:authentication="principal.clientName"></span></strong></div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${active == 'roles'} ? active : ''"><a href="/roles">Role management</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${active == 'users'} ? active : ''"><a href="/users">User management</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${active == 'matches'} ? active : ''"><a href="/matches">Match management</a></li>
					<li sec:authorize="hasRole('ROLE_BOOKIE')"th:classappend="${active == 'matches-upcoming'} ? active : ''"><a href="/matches/upcoming">Upcoming matches</a></li>
					<li sec:authorize="hasRole('ROLE_BOOKIE')"th:classappend="${active == 'my-handicaps'} ? active : ''"><a href="/my-handicaps">My handicaps</a></li>
					<li sec:authorize="hasRole('ROLE_PUNTER')"th:classappend="${active == 'handicaps-upcoming'} ? active : ''"><a href="/handicaps-upcoming">Upcoming handicap</a></li>
					<li sec:authorize="hasRole('ROLE_PUNTER')"th:classappend="${active == 'my-bets'} ? active : ''"><a href="/my-bets">My bets</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>