<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<title>Bet4Fun - Football is passion.</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:insert="~{header :: header}"></div>
	<div class="container">
		<div class="row">
			<div th:insert="~{sidebar :: sidebar (${new String('users')})}"></div>
			<div class="col-md-9" role="main">
				<h3>Users</h3>

				<div th:if="${message != null}" class="alert alert-success">
					<p th:each="msg : ${message}" th:text="${msg}" />
				</div>

				<p th:if="${#lists.isEmpty(users)}">No users found</p>

				<table class="table" th:if="${not #lists.isEmpty(users)}">
					<tr>
						<th>User</th>
						<th>Balance</th>
						<th>Roles</th>
						<th></th>
					</tr>
					<tr data-th-each="user : ${users}">
						<td data-th-text="${user.clientName}"></td>
						<td data-th-text="${user.balance}"></td>
						<td data-th-text="${user.getStringRoles()}"></td>
						<td>
							<div class= "pull-right">
								<div class="col-sm-6">
									<form method="GET" th:action="@{/user/roles/assign}">
										<input type="hidden" name="uuid" id="uuid" th:value="${user.clientId}" />
										<button type="submit" class="btn btn-success btn-sm"> <i class="glyphicon glyphicon glyphicon-edit"></i> Assign Role</button>
									</form>
								</div>
								<div class="col-sm-1" th:if="${user.getStringRoles().contains('ROLE_ADMIN') == false}">
									<form method="POST" th:action="@{/user/delete}">
										<input type="hidden" name="uuid" id="uuid" th:value="${user.clientId}" />
										<button type="submit" class="btn btn-danger btn-sm"> <i class="glyphicon glyphicon glyphicon-remove-sign"></i> Delete</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>